.titulos {
  z-index: 10;
  max-width: 15%;
  overflow-y: auto;
  min-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  
  &::-webkit-scrollbar {
    width: 12px;
    background: #eaeaea !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border: 5px;
    border-radius: 20px;
    background: #a5a5a594 !important;
  }
  padding: 1em 1em;
}

.centralize {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end !important;
  justify-content: center !important;
  animation: sDown 1s !important;
}

@keyframes sDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.title-card[draggable="true"] {
  //align-self: center;
  text-align: center;
  background-color: #005995;
  border-radius: 20px;
  padding: 0.5em 0;
  cursor: move;
  //margin-bottom: 1em;
  margin: 0.5em auto;
  animation: fade 0.5s linear forwards;
  width: 120px;
  span {
    margin: 0 auto;
    color: white;
    font-size: 0.8em;
  }
  &:hover {
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    transition-duration: 0.6s;
  }
}

.title-card:not([draggable]) {
  margin: 2em auto;
  animation: fade 0.5s linear forwards;
  background-color: #5db85d;
  border-radius: 20px;
  padding: 1.5em 1.5em;
  span {
    margin: 0 auto;
    color: white;
  }
}
#removeSpan {
  span[id] {
    display: none;
  }
  .title-card {
    position: absolute;
  }
}
.cont {
  background: #eaeaea !important;
}

.hoverTitulos {
  opacity: 0.6;
  transition-duration: 1s;
}

.invisible {
  display: none;
}

#myModal {
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.cardFadeOut {
  animation: cardFadeOut 2s;
}

@keyframes cardFadeOut {
  from {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  to {
    opacity: 0;
    scale: (0);
    visibility: hidden;
  }
}

@media screen and (max-width: 1285px) {
  .titulos {
    overflow-y: auto;
    //height: 1000px;

    &::-webkit-scrollbar {
      width: 12px;
      background: #eaeaea !important;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      border: 5px;
      border-radius: 8px;
      background: #a5a5a594 !important;
    }
  }
  // .title-card[draggable="true"] {
  //   width: 270px !important;
  //   padding: 0.9em 0.9em;
  // }
}
@media screen and (max-width: 769px) {
  .titulos {
    width: 100%;
  }
}

@media screen and (max-width: 1920px) {
  .titulos {
    overflow-y: auto;
    height: 1000px;
  }
  .title-card[draggable="true"] {
    max-width: 330px !important;
  }
}
