.card-conteudo {
    // min-width: 330px;
    
    &.a1{
      top: 80px;
      left: 330px;
      background-color: #0077b6;
    }
    &.a2{
      top: 80px;
      left: 600px;
      background-image: linear-gradient(to right, #0096c7, #00b4d8);
    }
    &.a3{
      top: 80px;
      left: 850px;
      background-color: #90e0ef;
      span {
        color: #474954;
      }
    }
    &.b1{
      top: 130px;
      left: 250px;
      background-color: #0077b6;
    }
    &.b2{
      top: 130px;
      left: 380px;
      background-color: #0077b6;
    }
    &.b3{
      top: 130px;
      left: 520px;
      background-color: #0096c7;
    }
    &.b4{
      top: 130px;
      left: 680px;
      background-color: #00b4d8;
    }
    &.b5{
      top: 130px;
      left: 770px;
      background-color: #90e0ef;
      span {
        color: #474954;
      }
    }
    &.b6{
      top: 130px;
      left: 855px;
      background-color: #90e0ef;
      span {
        color: #474954;
      }
    }
    &.b7{
      top: 130px;
      left: 920px;
      background-color: #90e0ef;
      span {
        color: #474954;
      }
    }
    &.c1{
      text-align: center;
      max-width: 75px;
      padding-left: 5px;
      top: 180px;
      left: 460px;
      background-color: #0096c7;
    }
    &.c2{
      text-align: center;
      max-width: 60px;
      top: 180px;
      left: 540px;
      background-color: #0096c7;
    }
    &.c3{
      text-align: center;
      max-width: 60px;
      top: 180px;
      left: 605px;
      background-color: #0096c7;
    }
    &.c4{
      padding-left: 1px;
      text-align: center;
      max-width: 60px;
      top: 180px;
      left: 670px;
      background-color: #00b4d8;
    }
    &.c5{
      text-align: center;
      max-width: 60px;
      top: 180px;
      left: 735px;
      background-color: #00b4d8;
    }
    &.d1{
      top: 250px;
      left: 10px;
      background-color: #023e8a;
      p{
        color: #fff;
        font-size: 1em;
      } 
    }
    &.d2{
      top: 300px;
      left: 10px;
      background-color: #0077b6;
      p{
        color: #fff;
        font-size: 1em;
      } 
    }
    &.d3{
      top: 350px;
      left: 10px;
      background-color: #0096c7;
      p{
        color: #fff;
        font-size: 1em;
      } 
    }
    &.d4{
      top: 400px;
      left: 10px;
      background-color: #00b4d8;
      p{
        color: #fff;
        font-size: 1em;
      } 
    }
  }

  span.square {
    width:5px;
    height:5px;
    position: absolute;
    &.s10 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 300px;
    }
    &.s11 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 400px;
    }
    &.s12 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 480px;
    }
    &.s13 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 555px;
    }
    &.s14 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 620px;
    }
    &.s15 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 690px;
    }
    &.s16 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 750px;
    }
    &.s17 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 810px;
    }
    &.s18 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 870px;
    }
    &.s19 {
      border: 15px solid #023e8a;
      top: 250px;
      left: 950px;
    }

    &.s22 {
      border: 15px solid #0077b6;
      top: 300px;
      left: 480px;
    }
    &.s23 {
      border: 15px solid #0077b6;
      top: 300px;
      left: 555px;
    }
    &.s24 {
      border: 15px solid #0077b6;
      top: 300px;
      left: 620px;
    }
    &.s25 {
      border: 15px solid #0077b6;
      top: 300px;
      left: 690px;
    }
    &.s26 {
      border: 15px solid #0077b6;
      top: 300px;
      left: 750px;
    }
    &.s27 {
      border: 15px solid #0077b6;
      top: 300px;
      left: 810px;
    }
    &.s28 {
      border: 15px solid #0077b6;
      top: 300px;
      left: 870px;
    }
    &.s29 {
      border: 15px solid #0077b6;
      top: 300px;
      left: 950px;
    }
    
    &.s30 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 300px;
    }
    &.s31 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 400px;
    }
    &.s32 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 480px;
    }
    &.s33 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 555px;
    }
    &.s34 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 620px;
    }
    &.s35 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 690px;
    }
    &.s36 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 750px;
    }
    &.s37 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 810px;
    }
    &.s38 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 870px;
    }
    &.s39 {
      border: 15px solid #0096c7;
      top: 350px;
      left: 950px;
    }

    &.s40 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 300px;
    }
    &.s41 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 400px;
    }
    &.s42 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 480px;
    }
    &.s43 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 555px;
    }
    &.s44 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 620px;
    }
    &.s45 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 690px;
    }
    &.s46 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 750px;
    }
    &.s47 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 810px;
    }
    &.s48 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 870px;
    }
    &.s49 {
      border: 15px solid #00b4d8;
      top: 400px;
      left: 950px;
    }

  }